<div class="row">
    <div class="col-8 text-end">
        <button class="btn btn-success btn-sm" (click)="addNew()">Add New</button>
    </div>
</div>
<!-- <app-file-upload></app-file-upload> -->
<div class="row">
    <div class="col-8">
        <table class="table table-bordered table-striped">
            <thead class="table-warning">
                <tr>
                    
                    <th style="width:10%">User Id</th>
                    <th style="width:30%">Title</th>
                    <th style="width:40%">Body</th>
                    <th style="width:20%">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (item of postList; track $index) {
                <tr>
                     
                    <td style="width:10%">
                        @if (item.isEditable) {
                        <input class="form-control" placeholder="Enter UserId" type="text" [(ngModel)]="item.userId">
                        } @else {
                        {{item.userId}}
                        }

                    </td>
                    <td style="width:30%">
                        @if (item.isEditable) {
                        <input class="form-control" type="text" placeholder="Enter Title" [(ngModel)]="item.title">
                        } @else {
                        {{item.title}}
                        }

                    </td>
                    <td style="width:40%">
                        @if (item.isEditable) {
                        <textarea class="form-control" placeholder="Enter Message" [(ngModel)]="item.body"></textarea>
                        } @else {
                        {{item.body}}
                        }

                    </td>
                    <td style="width:20%">
                        @if (item.isEditable) {
                        @if (item.id == 0) {
                        <button class="btn btn-sm btn-success" (click)="onSave(item)">Save</button>
                        } @else {
                        <button class="btn btn-sm btn-warning ">update</button>
                        }

                        <button class="btn btn-sm btn-secondary mx-2" (click)="cancelRow(item)">Cancel</button>
                        } @else {
                        <button class="btn btn-sm btn-primary" (click)="onEdit(item)">Edit</button>
                        <button class="btn btn-sm btn-danger mx-2">Delete</button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>