<div class="row">
    <div class="col-6">
        <p *ngIf="isLoader ==true; else Loadertem" > Loader visiable</p>
    </div>
    <ng-template #Loadertem>
        <h3 class="text-danger">Loader hidden</h3>
    </ng-template>
    <div class="col-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr </th>
                    <th>Name</th>
                    <th>username</th>
                    <th>email</th>
                </tr>
            </thead>

            <tbody>
                @if (isLoader == true) {
                <ng-container>
                    <tr>
                        <td colspan="6">
                            <div class="spinner-border text-muted"></div>
                            <div class="spinner-border text-primary"></div>
                            <div class="spinner-border text-success"></div>
                            <div class="spinner-border text-info"></div>
                            <div class="spinner-border text-warning"></div>
                            <div class="spinner-border text-danger"></div>
                            <div class="spinner-border text-secondary"></div>
                            <div class="spinner-border text-dark"></div>
                            <div class="spinner-border text-light"></div>
                        </td>
                    </tr>
                </ng-container>
                } @else {
                @for (item of userList; track $index) {
                <tr>
                    <td>{{ $index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.address.city}}</td>
                    <td>{{item.address.geo.lat}}</td>
                </tr>
                }
                }

            </tbody>


        </table>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="getTodoItems()">Get To Do Items</button>

        <ul>
            <li *ngFor="let item of todoItemList"> {{item.title}} - {{item.completed === true ? 'completed':'Not
                Completed'}}</li>
        </ul>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="getAllLocations()">Get Location</button>

        <select>
            <option *ngFor="let location of locationArray"> {{location.locationName}}</option>
        </select>

    </div>

</div>