<input type="file" (change)="onFileChange($event)" />


<!-- <img src="https://motopartz.gerasim.in/UploadedFiles/prod_20250722_073439.png" alt=""> -->

<div class="row">
    <div class="col-5">
        <button class="btn btn-success" (click)="addNew()"> add New</button>

           <button class="btn btn-success" (click)="onSaveRoles()"> Save Bulk Data</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @for (item of roleList; track $index) {
                <tr>
                    <td>{{$index+1}}</td>
                    <td>
                        <input type="text" [(ngModel)]="item.role"> 
                    </td>
                    <td>
                        {{item|json}}
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>