<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-primary">
                Location List
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr </th>
                            <th>Location Name</th>
                            <th>Code</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (item of locationArray; track $index) {
                        <tr>
                            <td>{{ $index+1}}</td>
                            <td>{{item.locationName}}</td>
                            <td>{{item.code}}</td>
                            <td>

                                <button (click)="onEdit(item)" class="btn btn-success">Edit</button>
                            </td>
                        </tr>
                        }
                    </tbody>


                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-primary">
                New Location Form
            </div>
            <div class="card-body">
                <form #form="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Location Name</label>
                            <input type="text" #locationName="ngModel" name="locationName" [(ngModel)]="newLocationObj.locationName"
                                required minlength="5" maxlength="20" class="form-control">
                            <!-- -{{locationName.touched}} -->
                            @if(locationName.touched || locationName.dirty) {
                            <div class="text-danger">
                                <!-- {{locationName.errors |json}} -->
                                @if(locationName.errors?.['required']){
                                <span>This Is Required</span>
                                }
                                @if (locationName.errors?.['minlength']) {
                                <span>Min 5 Char Needed</span>
                                }

                            </div>
                            }

                        </div>
                        <div class="col-6">
                            <label for="">Location Code</label>
                            <input type="text" (ngModelChange)="onCodeChange($event)"  
                            #locationCode="ngModel" name="code" [(ngModel)]="newLocationObj.code" required
                                minlength="3" class="form-control">
                            @if(locationCode.touched || locationCode.dirty) {
                            <div class="text-danger">
                                @if (locationCode.errors?.['required']) {
                                <span>THis is Require</span>
                                }
                                @if (locationCode.errors?.['minlength']) {
                                <span>Min 3 Char Needed</span>
                                }

                            </div>
                            }

                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-6">
                            <button class="btn btn-secondary">Reset Form</button>
                        </div>

                        <div class="col-6">
                            --{{form.invalid}}
                            @if(newLocationObj.locationId ==0) {
                            <button class="btn btn-success" [disabled]="form.invalid" (click)="onSaveLocation()">
                                @if(isAPICallInProgress ==true) {
                                    <span class="spinner-border spinner-border-sm"></span>
                                }
                               
                                Save Location</button>
                            } @else {
                            <button class="btn btn-warning" (click)="onUpdate()">Update Location</button>
                            }
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>