<!-- <p>rxjs works!</p>
<button (click)="chnageNum()">chnage num</button>

<button (click)="chnageNum2()">chnage num 2</button>

{{squareOfNumber}}

  <button (click)="chnagenum3()">chnage num 3</button>
--{{carsData$ | async | json}}
<select>
    @for (item of carsData$ | async; track $index) {
        <option value="">{{item.brand}}</option>
    }  
</select>

<button (click)="chnageSub()">Chnage Subject</button> -->

<br>
<hr>

<input type="text"  [formControl]="searchControl" placeholder="search Product"/>
 

